<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GeoCHAT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c4f2e87f73.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css" />
  </head>
<body>
    <header class="left">
        <h1>
            GeoCHAT
        </h1>
    </header>
    <section class= "container-fluid">
      <article class="main">
            <div id="welcome"></div>
                <h3>See What's Happening In Your Neighborhood</h3>
                <br>
                <div class="square col-3">
                    <h2>Sign Up, Or Log In Now!</h2>
                    <div id=" col-span-4 btn">
                        <a href="LogIn.html"><button> Login</button></a>
                    </div>  
                    <div id="col-span-4 btn">
                        <a href="signUp.html"><button> Sign up</button></a>
                    </div> <br/>
                </div>
            </div>
        </article>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>