<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GeoCHAT</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/c4f2e87f73.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div>
      <header class="left">
        <h1>GeoCHAT</h1>
        <h5>Connecting one neighborhood at a time</h5>
          <div class="nav">
             <a href="/dashboard">Homepage</a> <!-- AKA dashboard-->
      {{#if loggedIn}}
        <a href="" id="log-out">Logout</a>
      {{/if}}
      </div>
      </header>
    
    </div>
    {{{body}}}

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>