<div class="post">
  <form id="new-comment-form">
    <h3>New Comment</h3>
    <label for="post-body" ></label>
    <textarea
      type="text"
      name="comment-body"
      id="content-create"
      cols="50"
      rows="10"
      placeholder="Type comment here"
    ></textarea>
    <br />
    <button type="submit" class="btn">Post Comment</button>
  </form>
</div>
<script src="/javascript/comments.js"></script>