<div>
  <form id="create-post-form" class="post">
   <h4>Create a post</h4>
             <form id="edit-post-form">
              <label for="title" ></label>
              <input type="text" name="title" placeholder="Title" id="title-create"  value="{{post.title}}" />
              <br />
          <label for="post-body"></label>
            <textarea type="text" name="post-body"
            id="content-edit" class="createpost" cols="50" 
            rows="10" placeholder="Enter text here">{{post.content}}</textarea>
            <button type="submit" class="btn">Post</button>
  </form>
</div>
<script src="/javascript/posts.js"></script>