<div>
  <form id="create-post-form">
    <label for="title">Title</label>
    <input type="text" name="title" id="title-create" />
    <br />
    <label for="post-body">content</label>
    <textarea
      type="text"
      name="post-body"
      id="content-create"
      cols="50"
      rows="10"
    ></textarea>
    <br />
    <button type="submit">Update Post</button>
  </form>
</div>
<script src="/javascript/posts.js"></script>