<div>
  <form id="new-comment-form">
    <label for="post-body">content</label>
    <textarea
      type="text"
      name="comment-body"
      id="content-create"
      cols="50"
      rows="10"
    ></textarea>
    <br />
    <button type="submit">Update Post</button>
  </form>
</div>
<script src="/javascript/comments.js"></script>