     <article class="row">
    <!--Left Side-->
        <div class="col-sm-6 d-none d-sm-block box">
        <div class="rows-3" id="box">
          <h4>Join a Conversation</h4>
          <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
          <input type="text" class="search" placeholder="Search For Your Neighborhood"><br>
          
        </div>
      </article>

      <!-- space for tweets/ comments/ posts, we need a route for dashboard posts-->
      
      <div id="post" class='col-8'>
        {{> posts-list}}
      </div>
      
    