     <article class="row">
    <!--Left Side-->
        <div class="col-sm-6 d-none d-sm-block left">
        <div class="rows-3">
          <h4><i class="fa-solid fa-magnifying-glass"></i>Search For Your Neighborhood</h4><br>
          <h4><i class="fa-solid fa-eyes"></i>Tune in for all your Neighborhood Happenings</h4><br>
          <h4><i class="fa-duotone fa-comment-text"></i>Join in on all the Conversations</h4>
        </div>
      </article>

      <!-- space for tweets/ comments/ posts, we need a route for dashboard posts-->