<article>
  <!--Left Side-->
  <section>
  <div class="col-lg-12 box">
    <div class="colspan-12" id="box">
      <h4>Search Key Words</h4>
      <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
      <input type="text" class="search" placeholder="Search"><br>
    </div>
  </section>
</article>
      <!-- space for tweets/ comments/ posts, we need a route for dashboard posts-->
      
      <div id="post-feed" class='col-8'>
        {{> posts-list}}
      </div>
      
    