     <article class="col">
    <!--Left Side-->
        <div class="col-sm-6 d-none d-sm-block box">
        <div class="colspan-12" id="box">
          <h4>Join a Conversation</h4>
          <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
          <input type="text" class="search" placeholder="Search For Your Neighborhood"><br>
        </div>
      </section>
      <section class="post">
         <div class="col-8">
           <h4>Create a post</h4>
          <label for="post"></label>
          <input type="text" class="createpost" placeholder="Enter text here">
          <button type="submit" class="btn">Post</button>
        </div>
      </section>  
     </article>  
      

      <!-- space for tweets/ comments/ posts, we need a route for dashboard posts-->
      
      <div id="post-feed" class='col-8'>
        {{> posts-list}}
      </div>
      
    