<!-- to make posts? -->
<div class="post">
  <form id="edit-post-form">
    <h4>Edit Post Below:</h4>
    <p>Title:</p>
    <label for="title"></label>
    <input type="text" name="title" id="title-edit" value="{{post.title}}" />
    <br />
    <p>Content:</p>
    <label for="post-body" placeholder="Enter text here"></label>
    <textarea
      type="text"
      name="post-body"
      id="content-edit"
      cols="60"
      rows="10"
    >{{post.content}}</textarea>
    <br />
    <button type="submit" class="btn">Update Post</button>
  </form>
</div>
<script src="/javascript/posts.js"></script>
<!-- route page, prefilled data-->