<div class="post">
  
  <form id="edit-comment-form" data-post-id="{{comment.post_id}}">
    <h4>Edit Comment Below:</h4>
    <label for="post-body" placeholder="Enter text here"></label>
    <textarea
      type="text"
      name="comment-body"
      id="content-edit"
      cols="50"
      rows="10"
    >{{comment.content}}</textarea>
    <br />
    <button type="submit" class="btn">Update Post</button>
  </form>
</div>
<script src="/javascript/comments.js"></script>