 <form>
    <div class="login-form">
      <label for="exampleInputPassword1">Login</label>
      <input id= "email_login" type="text" class="form-control" placeholder="username or email" required>
    </div>
      
    <div class="login-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="OOOGABOOGA55409" required>
    </div>
      
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<form class="signup_form">
  <div>
    <label for="username_signup">username:</label>
    <input type="text" id="username_signup" />
  </div>
  <div>
    <label for="email_signup">email:</label>
    <input type="text" id="email_signup" />
  </div>
  <div>
    <label for="password_signup">password:</label>
    <input type="password" id="password_signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/public/javascript/login.js"></script>


     