/* Teal Blue 517990, Pewter Blue (background color) 90ABBA, Beau Blue C7DAE5, Charcoal 1C394A--> from coolers.co */
/*univeral*/
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
  background-color: #E7EBEE;
}

#welcome h1 {
  align-items: center;
}

.btn {
  background-color: #E7EBEE;
  color: #1c394a;
  border-radius: 10px;
  border-color: #1c394a;
  font-weight: bolder;
  padding: 10px 25px;
  display: inline-block;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/*homepage*/
.square {
  color: #c7dae5;
  background-color: #1c394a;
  padding: 30px;
  border: solid 5px;
  border-color: #517990;
  position: absolute;
  left: 33%;
  top: 50%;
}
.square a {
  position: relative;
  left: 25%;
  background-color: #c7dae5;
}
.square h2 {
  position: relative;
  left: 15%;
  padding: 30px;
}
.form-control {
  background-color: #c7dae5;
}
.left {
  background-color: #1c394a;
  color: #c7dae5;
  border-bottom: 5px solid #517990;
}
.left h1 {
  font-weight: bolder;
  position: center;
}
.left h5 {
  display: inline-block;
}
.nav {
  position: absolute;
  display: inline-block;
  left: 90%;
}
img {
    max-width: 30%;
    max-height: 45%;
    margin: 10px;
    border: solid 5px #517990;
}
.images {
    position: absolute;
    left: 100px;
}

/*login page*/
#log-in {
  border: 1px solid #1c394a;
  width: 50%;
  margin: 5% auto;
  padding: 2%;
  color: #c7dae5;
  background-color: #1c394a;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  border-radius: 11px;
}
@media screen and (max-width: 645px) {
  #log-in {
    width: 80%;
    padding: 5%;
  }
}
#log-in .btn {
  margin-left: 40%;
}
#log-in input {
  background-color: #c7dae5;
  border: 1px solid #c7dae5;
}
#log-in input:focus {
  color: #020202;
  background-color: #c7dae5;
  border: 1px solid #c7dae5;
  border-bottom: 3px solid #517990;
}

/*sign up sheet*/
input {
  margin: 5px;
  font-display: #1c394a;
  width: 30%;
}
p {
  font-weight: bolder;
  font-size: larger;
  margin: 7px;
  text-decoration: underline;
}
.address input {
  width: 98%;
  display: block;
  border: 1px solid #1c394a;
  color: #070707;
  padding: 5px;
  background-color: #1c394a;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  border-radius: 5px;
}
.email input {
  width: 30%;
  border: 1px solid #1c394a;
  color: #050606;
  padding: 5px;
  background-color: #1c394a;
  border-radius: 5px;
}
/*dashboard*/
h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
}

.search {
  padding-right: 5px;
  width: 50%;
  display: inline-flex;
  justify-content: center;
}
#box {
  color: #1c394a;
  background-color: #E7EBEE;
  padding: 30px;
  border: solid 5px;
  border-color: #517990;
  width: 65%;
}
.box{
    display:flex;
    justify-content: center;
}
.new-post {
    position: absolute;
    left: 75%;
    top: 20%;
}
/*create-post hbs*/
.post {
  color: #1c394a;
  background-image: linear-gradient(rgb(208, 204, 204), #afc3cf);
  width: 100%;
  height: 100%;
  padding-left: 3px;
  display: flex;
  justify-content: center;
}
.createpost {
  background-color: white;
  width: 90%;
  height: 60%;
}
.post button {
  position: relative;
  right: 0%;
  bottom: 0%;
}
#post-feed {
    text-decoration: underline;
  display: flex;
  justify-content: center;
}
.post input {
  display: inline-block;
}

/*post*/
#headline {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    
}

#post-dash a {
color:#1c394a;
}
#title-user {
    display: inline-flex;
}

#one-post {
    border: solid 5px #517990;
    
}
.display {
    background-image: linear-gradient(rgb(208, 204, 204), #afc3cf);
    width: 65%;
    height: 100%;
}
.display-post {
    background-image: linear-gradient(rgb(208, 204, 204), #afc3cf);
    width: 100%;
    height: 100%; 
}

/*update post*/
.update {
    position: absolute;
    left: 30%;
}
#comment-btn {
    display: inline-block;
}